* {
    margin: 0;
    box-sizing: border-box;
}

.allPhotos {
    width: 100vw;
    height: 100vh;
    position: relative;
}
.allPhotos > ul {
    margin: 0;
    padding: 0;
}


.slides {
    position: absolute;
    inset: 0;
    opacity: 0;
}

.slides[data-active] {
    opacity: 1;
}

.slides > img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;

}



